body,
.suggestions-container,
.suggestion,
.suggestion-highlighted,
canvas,
.list-container {
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: #fffcf6;
}

/* In your component's CSS file or a separate CSS file */
.suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  z-index: 2;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
}

.suggestion-highlighted {
  background-color: #f0f0f0;
}

canvas {
  max-width: 350px;
  max-height: 350px;
  align-items: center;
  margin: auto;
  padding: 0;
}


.list-container {
  max-width: 600px;
  /* Adjust the max-width as needed */
  margin: 0 auto;
  /* Center the list horizontally */
}