@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');

body,
.suggestions-container,
.suggestion,
.suggestion-highlighted,
canvas,
.list-container,
code {
  font-family: 'Manrope', sans-serif !important;
}


body,
.suggestions-container,
.suggestion,
.suggestion-highlighted,
canvas,
.list-container {
  font-family: 'Manrope', sans-serif;
}

code {
  font-family: 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.autosuggest-container {
  position: relative;
}

.suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  z-index: 2;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.suggestions-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.suggestions-list li:last-child {
  border-bottom: none;
}

.list-container {
  max-width: 600px;
  margin: 0 auto;
}

canvas {
  max-width: 350px;
  max-height: 350px;
  align-items: center;
  margin: auto;
  padding: 0;
}

body,
.suggestions-container,
.suggestion,
.suggestion-highlighted,
canvas,
.list-container,
code {
  font-family: 'Manrope', sans-serif !important;
  font-weight: bold;
}

.hero-text {
  font-family: 'Manrope', sans-serif !important;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.tracker-text {
  font-family: 'Manrope', sans-serif !important;
  font-weight: bolder;
  font-size: 4rem;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 100px;
}

.common-input {
  margin: 20px 80px 20px 80px;
}

.chart-box {
  margin: 20px 100px 20px 100px;
}

@media screen and (max-width: 600px) {
  .hero-text {
    font-size: 1.5rem;
    text-align: center;
  }

  .tracker-text {
    font-family: 'Manrope', sans-serif !important;
    font-weight: bolder;
    font-size: 2rem;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .common-input {
    margin: 10px 5px 10px 5px;
  }

  canvas {
    max-width: 200px;
    max-height: 200px;
    align-items: center;
    margin: auto;
    padding: 0;
  }

  .chart-box {
    margin: 10px 5px 10px 5px;
  }
}

